.line {background: url(/content/user/client/v4_12_hover_02.jpg) repeat-x; height: 5px;}
.control {width: 100%; margin: 0px auto; height: 30px; overflow: hidden;}
.control.s_box{width: 1801px;}
.control.b_box{width: 1838px;}
.control a, .control .center div, .control {display: block; height: 30px; float: left;}
.right div {display: block; height: 30px; float: right;}
.control .gel {width: 2px; height: 30px; float: left; background: url(/content/user/client/v4_12_05_2.jpg) -58px 0 no-repeat;}
.control .ger {width: 2px; height: 30px; float: right; background: url(/content/user/client/v4_12_05_2.jpg) -58px 0 no-repeat;}
.control .left {float: left;}
.control .left a.home {background: url(/content/user/client/v4_12_05_2.jpg) -28px 0 no-repeat; width: 23px; margin-right: 8px;}
.control .left a.home:hover {background-position: -28px -30px;}
.control .left a.us {background: url(/content/user/client/v4_12_05_2.jpg) -68px 0 no-repeat; width: 26px; margin-right: 8px; margin-left: 8px;}
.control .left a.us:hover {background-position: -68px -30px;}

.control .right .win_tit {width: 162px; background: url(/content/user/client/v4_12_05_2.jpg) -687px 0 no-repeat; height: 30px; overflow: hidden; cursor: pointer;}
.control .right .win_tit ul {list-style: none;}
.control .right .win_tit ul li {height: 30px; line-height: 30px; width: 162px; text-align: center; overflow: hidden; display: none;}
.control .right .win_tit ul li a {color: #fff; float: none; text-decoration: none;}
.control .right .win_tit ul li a:hover {text-decoration: underline;}
.control .right .win_choose {padding-left: 18px;}
.control .right .win_choose a.m_box {width: 25px; background: url(/content/user/client/v4_12_05_2.jpg) -977px 0 no-repeat; margin-right: 15px;}
.control .right .win_choose a.m_box:hover, .control .right .win_choose a.m_box.this {background-position: -977px -30px;}
.control .right .win_choose a.b_box {width: 25px; background: url(/content/user/client/v4_12_05_2.jpg) -1021px 0 no-repeat; margin-right: 15px;}
.control .right .win_choose a.b_box:hover, .control .right .win_choose a.b_box.this {background-position: -1021px -30px;}
.control .right .info {padding-left: 16px;}
.control .right  a.elc {width: 32px; margin-right: 10px; margin-left: 10px;}
.control .right .sns {padding-left: 3px; padding-right: 8px;}
.control .right .sns a {display: block; width: 21px; margin-right: 5px;}
.control .right .sns a.facebook {background: url(/content/user/client/v4_12_05_2.jpg) -1158px 0 no-repeat;}
.control .right .sns a.facebook:hover {background-position: -1158px -30px;}
.control .right .sns a.twitter {background: url(/content/user/client/v4_12_05_2.jpg) -1185px 0 no-repeat;}
.control .right .sns a.twitter:hover {background-position: -1185px -30px;}
.control .right .sns a.vk {background: url(/content/user/client/v4_12_05_2.jpg) -1211px 0 no-repeat;}
.control .right .sns a.vk:hover {background-position:-1212px -30px;}
.control a.logout {background: url(/content/user/client/v4_12_05_2.jpg) -1281px 0 no-repeat; width: 19px; margin-left: 8px;}
.control a.logout:hover {background-position: -1281px -30px;}

/*меняем отдельный элемент */
:-webkit-full-screen #GameContent {
  width: 100%;
  height: 100%;
}
:-moz-full-screen #GameContent {
  width: 100%;
  height: 100%;
}