body{
    background-color: #5e4763;
    margin:0 auto;
    font-family: "Times New Roman";
}

img{
    border:0px;
}


#error_content{
	width: 708px;
	height: 335px;
	margin:0 auto;
	padding-top:150px;
}

.error_logo{
	width: 208px;
	height: 335px;
	float: left;
	text-align: right;
}

.error_logo img{
    margin:50px 30px 0 0;
    text-align: right;
}

.error_logo p{
    padding:0 0 0 20px;
    font-size: 14px;
    width: 70px;
    margin:0 30px 0 0;
    text-align: left;
    margin-top:10px;
    float: right;
}

* HTML .error_logo p{
    padding:0 0 0 20px;
    font-size: 14px;
    width: 70px;
    margin:0 30px 0 0;
    text-align: left;
    margin-top:10px;
    float: none;
}

.error_logo p a{
    color:#b0ca47;
}

.error_text{
    width: 450px;
    float: left;
    height: 335px;
    padding:0 0 0 20px;
}

.error_text h4{
	font-size: 24px;
	color:#b0ca47;
	text-align: left;
    margin:0px;

}

.error_text h5{
    font-size: 20px;
    font-weight: normal;
    color:#aaad9c;
    text-align: left;
    margin:0px;
}


.error_text_reason{
    margin:40px 0 0 0;
    line-height: 22px;
}

.error_text_reason p{
    color:#fff;
    font-size: 14px;
    margin:0px;
}

.error_text_reason a{
    padding:0 0 0 20px;
    height: 20px;
    font-size: 12px;
    color:#fff;
    text-decoration: none;
}

.error_link{
    margin:20px 0 0 0;
    line-height: 22px;
}

.error_link p{
    color:#fff;
    font-size: 14px;
    margin:0px;
}

.error_link a{
    padding:0 0 0 20px;
    font-size: 12px;
    color:#fff;
    text-decoration: none;
}

.error_link a:hover{
    text-decoration: underline;
}
