﻿* {
	margin: 0;
	padding: 0;
    outline: none;
}
html {
    height: 100%;
}
body {
    background: url(/content/images/index/bg.gif); 
    height: 100%;
    font-family: "Times New Roman";
}
#header-flash {
    display: block;
    position: absolute;
    width: 100%;
    height: 577px;
    z-index: -1;
}

/****************************** случайные фоны ******************************/

.index-bg {
    width: 100%;
	background-position: center 0;
	background-repeat: no-repeat;
    position: absolute;
	left: 0;
	top: 0;
    z-index: -1;
	}

.index-bg-1 {
    height: 577px;
	background-image: url("/content/images/index/webbg1.jpg");
	}

.index-bg-2 {
    height: 575px;
	background-image: url("/content/images/index/webbg2.jpg");
	}

.index-bg-3 {
    height: 594px;
	background-image: url("/content/images/index/webbg3.jpg");
	}

.index-bg-4 {
    height: 594px;
	background-image: url("/content/images/index/webbg4.jpg");
	}

/****************************** // случайные фоны ******************************/

#curtain-left {
    min-height: 604px;
    background: url(/content/images/index/curtain-left1.png) no-repeat left top;
    min-width: 1000px;
}
#curtain-right {
    min-height: 604px;
    background: url(/content/images/index/curtain-right1.png) no-repeat right top;
}
#bottom {
    background: url(/content/images/index/bg.jpg) no-repeat top center;
    height: 100%;
}
.none {
    display: none;    
}
.clear {
    clear: both;    
}
#curtains {
	background: url(/content/images/index/curtains.png) no-repeat top center;
}
#wrap {
	width: 1000px;
	margin: 0 auto;
}
#header {
	height: 66px;
	padding: 291px 0 0 0;
}
#header .logo { 
    display: block;
    height: 221px;
    margin-left: 59px;
    position: absolute;
    top: 34px;
    width: 209px;
    background: url(/content/images/index/logo.png) no-repeat;
}
.topnav {
	height: 66px;
	/*background: url(/content/images/index/topnav.png) no-repeat bottom center;*/
	padding: 0 0 0 15px;
}
.topnav li.left-item {
   background: url(/content/images/index/i-left.png) no-repeat bottom left;
}
.topnav li.left-item:hover {
  background: url(/content/images/index/i-left.png) no-repeat top left; 
}
.topnav li.right-item {
   background: url(/content/images/index/i-right.png) no-repeat bottom left; 
}
.topnav li.right-item a {
    margin: 3px 0 0 6px;
}
.topnav li.right-item:hover {
   background: url(/content/images/index/i-right.png) no-repeat top left; 
}
.topnav li.play-item {
   background: url(/content/images/index/play.png) no-repeat top left;  
   width: 204px;
   height: 66px; 
   padding: 0;
   margin: 0;
   position: relative;
   overflow: hidden;
   cursor: pointer;
}
.topnav li.play-item:hover {
   background: url(/content/images/index/play.png) no-repeat top right;     
}
.topnav li.play-item object {
	width: 204px;
	height: 69px;
	position: absolute;
	left: 0;
	top: 0;
}
.topnav li.play-item a {
    width: 204px;
    height: 66px;
    display: block;   
    margin: 0;
}
.topnav li {
	list-style: none;
	width: 128px;
	height: 26px;
	padding: 33px 0 0 0;
	float: left;
    margin: 8px 0 0 0;
	position: relative;    
}
.topnav li a {
	display: block;
	width: 108px;
	height: 23px;
    color: #fecb62;
    text-decoration: none;
    font: 20px "Times New Roman";	
    margin: 3px 0 0 16px;
    text-align: center;
}
.topnav ul {
    display: none;
    background: url(/content/images/index/fon.png);
    margin: 0 0 0 15px;
    position: absolute;
	left: 0;
	bottom: 23px;
    width: 107px;
    z-index: 2;
    border: 1px solid #020F07;
    overflow: hidden;
}
.topnav li.right-item ul  {
    margin: 0 0 0 4px;
}
.topnav ul li {
    float: none;
    width: auto;
    height: auto;
    min-height: 20px;
    margin: -1px 0 0 0;
    padding: 0 0 0 0;
    text-align: center;
    background: url(/content/images/index/lili.png) no-repeat top center;
}
.topnav ul li:hover {
    background: #020F07;
}
.topnav ul li a {
    color: #CED0C5;
    font-size: 13px;
    display: block;
    width: auto;
    min-height: 20px;
    height: auto;
    margin: 0;
    padding: 3px 0;
}
.topnav ul li a:hover {
    color: #FFAE00;
}
.topnav li:hover ul {
    display: block;
}
#inner {
	background: url(/content/images/index/bricks.png) no-repeat top center;
	min-height: 761px;	
    padding-bottom: 50px;
}
#inner .fullcontent {
    width: 720px !important;
}
#sidebar-left {
	width: 245px;
	float: left;
	min-height: 765px;	
}
#sidebar-left .user-panel {
	background: url(/content/images/index/enter.png) no-repeat;
	width: 218px;
	height: 216px;
	margin: 22px 0 4px 25px;
    color: #b2b2b2;
    font-size: 18px;
}
#logout-submit {
    border: 0;
    background: none;
    color: #b2b2b2;
    font: 18px "Times New Roman";
    position: relative;
    left: 12px;
    cursor: pointer;
}
#logout-submit:hover {
    text-decoration: underline;
}
#sidebar-left .user-panel .title {
    color: #B2B2B2;
    font: bold 16px Verdana;
    padding: 13px 0 0 2px;
    text-align: center;
    height: 22px;
}
#sidebar-left .user-panel .name {
    font: bold 14px Verdana;
    padding: 7px 0 0;
    text-align: center;   
}
#sidebar-left .user-panel .balans {
    padding: 10px 0 21px 12px;
    text-align: left;
}
#sidebar-left .user-panel ul {
    list-style: none;
    padding: 23px 0 0 12px;
}
/****************************** пункты в личном блоке ******************************/

#sidebar-left .user-panel ul li {
    width: 213px;
    height: 36px;
    margin: -4px 0 2px -8px;
    background: url("/content/images/index/login-item.png") 0 0 no-repeat;
    text-indent: 15px;
    position: relative;
	}

#sidebar-left .user-panel ul li:hover {
	background-position: 0 -36px;
	}

#sidebar-left .user-panel ul li a {
	display: block !important;
	width: 213px !important;
	height: 36px !important;
    font: 14px Verdana;
	line-height: 35px;
    color: #b2b2b2;
    text-decoration: none;
    position: absolute;
    left: 0;
    top: 0;
	}

/****************************** // пункты в личном блоке ******************************/

#sidebar-left .user-panel ul li a:hover {

}
#sidebar-left .login {
    width: 218px;
    height: 216px;
    background: url(/content/images/index/login-panel.png) no-repeat;
    margin: 28px 0 0 22px;
    position: relative;
}
#loginform {
	padding: 20px 0 0 0;
}
#loginform .submit {
	margin: 0 auto;
	display: block;
	width: 111px;
	height: 34px;
	background: url(/content/images/index/playb.png) no-repeat top center;
	cursor: pointer;
	overflow: hidden;
	border:0;
}
#loginform .submit:hover {
	background: url(/content/images/index/playb.png) no-repeat bottom center;    
}
#login, #pass {
	width: 125px;
	height: 20px;
	border: 1px solid #2B1C00;
	background: url(/content/images/index/input-text.png) repeat-x;
	text-indent: 2px;
}
#login {
    margin: 28px 0 0 88px;
}
#pass {
    margin: 11px 0 0 88px;
}
#remembermelabel {
    color: #FFBB29;
    display: block;
    float: left;
    font: 13px/22px Verdana;
    height: 22px;
    margin: 3px 0 5px 4px;
    width: 145px;
}
#rememberme {
    float: left;
    margin: 8px 0 0 54px;
}
#loginform .registration {
    color: #FFBB29;
    display: block;
    font: 13px Verdana;
    margin: 3px 0 0;
    text-align: center;
    text-decoration: none;
}
#loginform .forgot-password {
    color: #FFBB29;
    display: block;
    font: 13px Verdana;
    text-align: center;
    text-decoration: none;
}
#sidebar-left .module .title {
	color: #ffb400;
	text-align: center;
	font: 20px Arial;
	padding: 83px 0 0 0;
}
#sidebar-left .module {
	background: url(/content/images/index/personalpage.png) no-repeat bottom center;	
	width: 204px;
	height: 360px;
	margin: 0 0 0 10px;
}
#content {
	width: 510px;
	float: left;
}
#container {
    margin: 24px 0 40px 3px;
    padding: 17px 10px 50px 15px;
    font: 14px Arial;    
    min-height: 600px;
    color: #333;
}
#container h2 {
   color: #F2A900;
   font: bold 18px Helvetica;
}
#container a {
    text-decoration: none;
    border-bottom: 1px dotted #000;
    color: #000;
}
#container a:hover {
    border: 0;
}
#container p {
    text-align: justify;
    margin: 10px 0;   
    font-size: 13px;
    font-family: Georgia; 
}
#container ul {
    margin: 10px 0 10px 20px;
}
#container img {
    max-width: 480px;    
}


.content-block {
	background: url(/content/images/index/content-block.png) no-repeat;
	width: 502px;
	height: 218px;
	margin: 22px auto 7px;
}
.content-block2 {
	background: url(/content/images/index/content-block2.png) no-repeat;
	width: 510px;
	height: 355px;
}
.content-block2 ul {
    height: 160px;
    overflow: hidden;
    padding: 40px 70px 0 0;
 	line-height: 28px;
}
.content-block2 ul li {
    list-style: none;
    padding: 0 0 0 41px;
	clear: both;
}
.content-block2 ul li a {
    color: #FFBB29;
    display: inline-block;
    font: 13px Verdana;
	padding: 0;
    margin: 0;
	float: left;
 	line-height: 28px;
	position: relative;
	top: -2px;
}
.content-block2 ul li span {
    display: inline-block;
	padding: 0;
	margin: 0;
    font: 13px Verdana;
	float: right;
	position: relative;
	top: 4px;
}
.likes{
    padding: 13px 10px 0 10px;
width: 100%;
}
.content-block3 {
	background: url(/content/images/index/content-block3.png) no-repeat;
	width: 510px;
	height: 48px;
    margin: 8px 0 0 0;
}
#screens {
    width: 500px;
    height: 100px;
    margin: 0 auto;
    padding: 5px 0 0;
}
#screens_knoppen {
    height: 32px;
    margin: 0 0 9px 0;
}
#screens_knoppen a, #screens_knoppen {
    text-decoration: none;
    color: #fff;
    font: bold 18px "Times New Roman";
}
#more_screens {
    float: left;
    height: 32px;
    line-height: 32px;
    text-align: right;
    text-indent: 22px;
    width: 219px;
}
#more_screens a {
    text-decoration: none;
    color: #fff;
    font: bold 18px "Times New Roman";
}
#m-screens {
    float: left;
    height: 32px;
    line-height: 32px;
    margin: 0 0 0 12px;
    width: 116px;
    text-indent: 5px;
    float: left;
    cursor: pointer;  
    display: block;
    padding: 4px 0 0;
}
#m-video {
    float: left;
    height: 32px;
    line-height: 32px;
    text-align: center;
    width: 79px;
    cursor: pointer; 
    display: block; 
    padding: 4px 0 0;   
}
#m-wallpapers {
    height: 32px;
    line-height: 32px;
    float: left; 
    cursor: pointer;  
    display: block;
    padding: 4px 5px 0 5px;
}
#screens_content a img{
    width: 140px;
    height: 90px;
    border: 0;    
}
#screens_content {
    text-align: justify;
}
#screens_content span {
    width: 140px;  
}
#screens_content a {
    display: block;
    width: 140px;
    height: 90px;
    border: 1px solid #C9B563;
    padding: 3px;
    float: left;
    margin: 0 3px 0 12px;
}
#sidebar-right {
	width: 245px;
	float: right;
	min-height: 765px;	
}
#sidebar-right .rating {
	background: url(/content/images/index/rating.png) no-repeat bottom center;	
	width: 204px;
	height: 330px;
    margin: 7px 0 0 14px;  
}
#sidebar-left .rating {
	background: url(/content/images/index/rating.png) no-repeat bottom center;	
	width: 204px;
	height: 330px;
    margin: 34px 0 0 26px;
    z-index: 5;
}
.rating h2 {
    height: 32px;
    padding: 48px 0 0 0;
    font: 16px Times New Roman;
	line-height: 33px;
    color: #f4bf3e;
    text-align: center;
}
#shop {
    background: url("/content/images/index/shop.png") no-repeat -5px 0;
    height: 234px;
    margin: 31px 0 0;
    width: 245px;
}
#shop a {
    color: #f5edcd;
    font: 18px "Times New Roman";
    text-decoration: none;
}
#shop .item1 {
    margin: 0 0 0 42px;
    padding: 55px 0 0;
}
#shop .item2 {
    margin: 13px 0 0 47px;
}
#shop .item3 {
    margin: 10px 0 0 52px;
}
#shop .item4 {
    margin: 12px 0 0 61px;
}
#shop .item5 {
    margin: 11px 0 0 73px;
}
#shop img {
    border: 1px solid #766B59;
    margin: 0 15px 0 0;
    float: left;
}
#gallery-area a {
    text-decoration: none;
    display: block;
    float: left;
    margin: 5px;
    width: 135px;
    height: 100px; 
    border: 0;
}

/****************************** доп. стили для футера ******************************/

#footer {
	width: 100%;
	font-size: 12px;
	font-weight: 100;
	color: #333;
	background-color: #FFF;
}
	#footer .copyright {
		border-top: 1px #6D6D6D solid;
		background: url(/content/images/index/PF_Txt_Bg.gif) repeat-x bottom #313131;
		line-height: 35px;
		height: 35px;
		text-align: center;
		color: #FFF;
	}

/****************************** // доп. стили для футера ******************************/

.additem {
    position: absolute !important;
}
.jhover {
    background: url(/content/images/index/jhover.png) repeat-x top left;
}
.module-t {
    width: 204px;
    background: url(/content/images/index/module-b.png) no-repeat bottom center;
    margin: -7px 0 0 27px;
    padding: 0 0 22px 0;
}
.module-b {
   width: 204px; 
   background: url(/content/images/index/module-t.png) no-repeat top center; 
   min-height: 225px;
}
.module-b .title {
    color: #F4BF3E;
    font: 16px/33px "Times New Roman";
    height: 32px;
    padding: 91px 0 0;
    text-align: center;
}
.module-b ul {
    margin: 15px 0 0;
    overflow: hidden;
}
.module-b li {
   list-style: none;
   background: url(/content/images/index/module-li.png) no-repeat top center; 
   height: 36px;
   margin-top: -2px;
}
.module-b li a {
    color: #F2D55E;
    display: block;
    font: 17px/37px "Times New Roman";
    height: 36px;
    text-decoration: none;
    text-indent: 27px;
}
.module-b li.active a{
   background: url(/content/images/index/module-li-active.png) no-repeat 18px 15px;
}
.hide {
    display: none;
}
.about_sub {
    position: absolute;
}
/* billing pay */
#electronic-payments, #sms-payments {
    width: 232px;
    height: 29px;    
    cursor: pointer;
    text-align: center;
    font: bold 18px/29px "Times New Roman";
    background: url(/content/images/Pay/no-active.png) repeat-x;
    color: #fff;
    text-shadow: 2px 1px 1px #000000;
    margin: 0 5px 0 0;
    overflow: hidden;
    float: left;
}
#payment-system .top .active {
   background: url(/content/images/Pay/active.png) repeat-x;
   color: #FECB62; 
}
#payment-system #countries {
    display: block;
    margin: 0 auto;
    width: 295px;
    height: 20px;
    text-align: center;
}
.sms-payments_tab .detailsoff {
    display: none;
}
.sms-payments_tab {
    font: bold 12px "Times New Roman";
    margin: 0 10px 0 -10px;   
}
.sms-payments_tab p {
      font: bold 12px "Times New Roman" !important;  
}
#payment-system .top {
    text-align: center;
}
#payment-system .area .hide{
    float: left;
}
#payment-system .area .title {
    color: #0d180a;
    font: bold 14px "Times New Roman";
    text-align: center;
    margin: 10px 0;
}
#payment-system .item {
    float: left;
    min-height: 60px;
    margin: 0 13px 0 31px;
    text-align: center;
    width: 105px;
    cursor: pointer;
    vertical-align: top;
}
#payment-system .all-items {
    cursor: pointer;
}
#payment-system .item .name {
    color: #011DFE;
    font: bold 12px/16px Helvetica;
}
/* Rotator */
#rotator {
    height: 156px;
    width: 649px;
    margin: 0 0 8px 2px;   
}
#rotator .slider {
    width: 494px;
    height: 210px;
    float: left;
    padding: 3px;
    overflow: hidden;
}
#rotator .slider .slide {
    position: absolute;    
}
#rotator .slider .slide img {
    border: 0;
}
#rotator .rightinfo {
    float: right;    
}
#rotator .paging {
    margin: 188px 0 0;
    padding: 0;
    position: absolute;
    text-align: right;
    width: 263px;
    z-index: 4;
}
#rotator .paging li {
    list-style: none;
    display: inline-block; 
    background: url(/content/images/Rotator/item.png) right top;
    width: 20px;
    height: 20px; 
    color: #6C7F6A;
    margin: 0 0 0 0;  
    font: bold 14px 'Comic Sans MS';
    text-align: center;
    cursor: pointer;
    text-shadow: 2px 1px 1px #000;
    opacity: 0.7;
}
#rotator .paging li.active { 
    background: url(/content/images/Rotator/item.png) left top; 
    color:#FFE400;
    font-weight: bold;
    text-shadow: 2px 1px 1px #8C0000;
}
#rotator .paging li:hover {
    background: url(/content/images/Rotator/item.png) left top;  
    color:#FFE400;
    font-weight: bold;
    text-shadow: 2px 1px 1px #8C0000;
}
.c-c-c .c-r-t {
    background: url(/content/images/index/c-r-t.png) no-repeat right top;  
}
.c-c-c .c-l-t {
    background: #F6F2D2 url(/content/images/index/c-l-t.png) no-repeat left top; 
} 
.c-c-c .c-l-b {
    background: url(/content/images/index/c-l-b.png) no-repeat left bottom; 
}
.c-c-c .c-r-b {
    background: url(/content/images/index/c-r-b.png) no-repeat right bottom; 
}
.tab-page .ButtonNav {

}
.tab-page .ButtonNav li {
    background: url("/content/images/Pay/no-active.png") repeat-x scroll 0 0 transparent;
    cursor: pointer;
    float: left;
    font: bold 18px/29px "Times New Roman";
    height: 29px;
    margin: 0 5px 0 0;
    text-align: center;
    text-shadow: 2px 1px 1px #000000;
    width: 226px;
    list-style: none;
}
.tab-page .ButtonNav li.active {
    background: url("/content/images/Pay/active.png") repeat-x scroll 0 0 transparent;
}
.tab-page .ButtonNav li.active a {
    color: #FECB62 !important;
}
.tab-page .ButtonNav li a {
    border-bottom: 0 !important;
    color: #FFFFFF !important;
}
#techsupport {
    margin: 25px 0 0 20px;
}
#techsupport .button {
    border-bottom: 0;
    cursor: pointer;
}
#techsupport .input-wrapper {
    min-height: 25px;
}
#techsupport .input-wrapper label {
    display: block;
    float: left;
    width: 150px;
}
#techsupport .input-wrapper textarea {
    width: 80%;
    height: 150px;
    margin: 10px 0 25px;
}
#techsupport .input-wrapper .topic {

}
#techsupport #file1, #techsupport #file2, #techsupport #file3 {
    width: 150px;
}
.p-h {
    text-align: center;
}
.p-h strong {
    position: relative;
    top: -11px;
    margin: 0 5px 0 0;
}
.p-t {
    text-align: center;
    font-weight: bold;
    margin: 10px 0;
}
.l-p-s,  .l-p-p {
    display: inline-block;
    float: left;
    font-weight: bold;
    margin: 0 0 12px 110px;
    width: 150px;
    height: 27px;
}
#p-s, #p-p, #p-s2, #p-p2 {
    width: 148px;
    height: 15px;
    border: 2px solid #000;
    float: left;
}
#p-submit, #p-submit2 {
    border: 0;
    background: url("/content/images/Pay/submit.png");
    float: right;
    height: 33px;
    left: -193px;
    margin: 30px 0 0;
    position: relative;
    width: 110px;
}
.p-item {
	clear: both;
	}
.p-item .name {
    color: #112BFB;
    display: inline-block;
    font-weight: bold;
    position: relative;
    top: -16px;
}
.p-item img {
    margin: 0 5px 5px 0;  
}
.p-chek {
    margin: 0 7px 0 118px;
    position: relative;
    top: -13px;
}
.personalpage {
   color: #323232; 
}
.bolding {
    font-weight: bold;
    width: 200px;
}

/******************** Регистрация ********************/

.reg-content .c-l-t,
.reg-content .c-r-t,
.reg-content .c-l-b,
.reg-content .c-r-b {
	background: none;
	}

	.reg-content .c-r-b {
		width: 496px;
		height: 396px;
	    margin: 24px 0 0 3px;
		background: url("/content/images/content/reg-bg.png") 0 0 no-repeat;;
		position: relative;
		left: 3px;
		top: -5px;
		z-index: 1;
		}

		.reg-content #container {
			width: 400px;
			height: 348px;
			min-height: 0;
			padding: 0;
			margin: 0;
			position: absolute;
			left: 54px;
			top: 20px;
			}

			.reg-content #container h2 {
				display: block;
				width: 204px;
				height: 26px;
				margin: 12px auto 0 auto;
				background: url("/content/images/content/reg-header.png") 0 0 no-repeat;
				text-indent: -99999px;
				}

			.reg-content #registrationError {
				width: 320px;
				padding: 10px 0 0 0;
				margin: 0 auto;
				color: #fff;
				text-align: center;
				}

			/*-------------------- поля формы регистрации --------------------*/

			.reg-fields {
				padding: 12px 0 0 0;
				}

				.reg-fields span {
					display: inline-block;
					width: 195px;
					margin: 0 18px 0 0;
					float: left;
					text-indent: -99999px;
					text-align: right;
					}

					.reg-fields span span {
						height: 24px;
						overflow: hidden;
						margin: 0 0 9px 0;
						float: right;
						text-align: left;
						position: relative;
						top: 1px;
						}

				.reg-fields .reg-label-login span {
					width: 60px;
					background-image: url("/content/images/content/reg-label-login.png");
					}

				.reg-fields .reg-label-pwd span {
					width: 69px;
					background-image: url("/content/images/content/reg-label-pwd.png");
					}

				.reg-fields .reg-label-pwd-rep span {
					width: 156px;
					background-image: url("/content/images/content/reg-label-pwd-rep.png");
					}

				.reg-fields .reg-label-email span {
					width: 62px;
					background-image: url("/content/images/content/reg-label-email.png");
					}

				.reg-fields input {
					width: 119px;
					height: 20px;
					padding: 0 3px;
					background: url("/content/images/content/reg-input.gif") 0 0 repeat-x;
					border: 1px solid #2b1c00;
					float: left;
					font: 14px Verdana;
					line-height: 20px;
					color: #000;
					}

			/*-------------------- пользовательское соглашение --------------------*/

			.reg-agreement {
				width: 350px;
				padding: 5px 0 0 0;
				margin: 0 auto;
				font: 14px Verdana;
				line-height: 18px;
				color: #f39f00;
				text-align: center;
				}

				.reg-content #container .reg-agreement a {
					color: #f39f00;
					text-decoration: underline;
					}

				.reg-content #container .reg-agreement a:hover {
					color: #f39f00;
					text-decoration: none;
					}

				.reg-agreement input {
					margin: 0 20px 0 0;
					}

			/*-------------------- сабмит регистрации --------------------*/

			.centered {
				text-align: center;
				}

			.reg-submit {
				display: inline-block;
				height: 41px;
				margin: 10px 0 0 0;
				line-height: 41px;
				position: relative;
				overflow: hidden;
				}

				.reg-submit span {
					display: inline-block;
					height: 100%;
					float: left;
					background-image: url("/content/images/content/reg-submit.png");
					line-height: 34px;
					vertical-align: middle;
					}

				.reg-submit-l {
					width: 13px;
					background-position: 0 0;
					background-repeat: no-repeat;
					}

				.reg-submit:hover .reg-submit-l {
					background-position: 0 -123px;
					}

				.reg-submit-c {
					padding: 0 8px;
					background-position: 0 0;
					background-position: 0 -41px;
					background-repeat: repeat-x;
					font: 20px Times New Roman;
					color: #ffa800;
					}

				.reg-submit:hover .reg-submit-c {
					background-position: 0 -164px;
					}

					.reg-submit-c span {
						display: inline;
						background: none;
						position: relative;
						top: 2px;
						}

				.reg-submit-r {
					width: 13px;
					background-position: 0 -82px;
					background-repeat: no-repeat;
					}

				.reg-submit:hover .reg-submit-r {
					background-position: 0 -205px;
					}

				.reg-submit input {
					display: block;
					width: 1000px;
					height: 100%;
					background: url("/content/images/content/blank.gif") 0 0 repeat;
					border-width: 0;
					cursor: pointer;
					position: absolute;
					right: 0;
					top: 0;
					z-index: 1;
					}

				button::-moz-focus-inner,
				input[type="reset"]::-moz-focus-inner,
				input[type="button"]::-moz-focus-inner,
				input[type="submit"]::-moz-focus-inner,
				input[type="submit"]::-moz-focus-inner,
				input[type="file"] > input[type="button"]::-moz-focus-inner {/* */
					border: none;
					}

				.reg-submit input:focus {
					outline: none;
					}

/********************* дополнительные стили для личного кабинета **********************/

.clear-line {
	display: block;
	height: 0;
	overflow: hidden;
	clear: both;
	}

.personalpage {
	min-height: 0 !important;
	padding: 0 55px 28px 55px !important;
	font: 14px Verdana !important;
	line-height: 28px !important;
	}

	.personalpage h2 {
		display: block;
		width: 204px;
		height: 22px;
		background: url("/content/images/content/header-pp.png") 0 0 no-repeat;
		text-indent: -99999px;
		margin: 0 auto 26px auto;
		position: relative;
		top: 26px;
		}

	/*-------------------- поля логин-пароль --------------------*/

	.pp-fields {
		height: 1%;
		padding: 27px 0 0 0;
		line-height: 28px !important;
		}

		/*-------------------- название поля --------------------*/

		.pp-field {
			width: 75px;
			float: left;
			font-weight: bold;
			}

		/*-------------------- значение поля --------------------*/

		.pp-value {
			width: 175px;
			margin-right: 16px;
			float: left;
			white-space: nowrap;
			}

		.pp-login {
			width: 290px;
			}

		/*-------------------- индикатор подтверждения e-mail --------------------*/

		.email-proof {
			display: inline-block;
			width: 22px;
			height: 21px;
			margin: 0 16px 0 0;
			background: url("/content/images/content/email-proof.png") 0 0 no-repeat;
			float: left;
			position: relative;
			top: 3px;
			}

		.pp-fields .email-proof {
			margin-right: 0;
			}

		/*-------------------- с этим классом индикатор горит зеленым --------------------*/

		.email-proved {
			background-position: 0 -21px;
			}

		/*-------------------- стилизованная кнопка --------------------*/

		.img-btn {
			display: inline-block;
			width: 91px;
			height: 28px;
			overflow: hidden;
			margin: 0 7px 0 0;
			background-position: 0 0;
			background-repeat: no-repeat;
			border-width: 0 !important;
			text-indent: -99999px;
			vertical-align: middle;
			cursor: pointer;
			position: relative;
			top: -1px;
			}

		.img-btn-change {
			background-image: url("/content/images/content/btn-change.gif");
			}

		.img-btn-confirm {
			width: 103px;
			background-image: url("/content/images/content/btn-confirm.gif");
			}

		.cursor-wait,
		.cursor-wait * {
			cursor: wait !important;
			}

		.img-btn-remind {
			width: 90px;
			background-image: url("/content/images/content/btn-remind.png");
			}

		.img-btn-remind-dead {
			background-position: 0 -28px;
			cursor: default;
			}

		.img-btn-buy {
			background-image: url("/content/images/content/btn-buy.gif");
			}

		.img-btn-show {
			background-image: url("/content/images/content/btn-show.gif");
			}

		.img-btn-ok {
			background-image: url("/content/images/content/btn-ok.gif");
			}

		.img-btn-close {
			background-image: url("/content/images/content/btn-close.png");
			}

		.pp-fields .img-btn {
			margin-right: 0;
			float: right;
			}

	/*-------------------- легенда --------------------*/

	.pp-legend {
		line-height: 29px;
		}

		.pp-legend em {
			float: left;
			}

		.pp-legend .img-btn {
			margin-right: 0;
			float: right;
			}

	/*-------------------- пароль --------------------*/

	.pp-password {
		padding: 8px 0 0 0;
		}

		/*-------------------- метка --------------------*/

		.pp-label {
			margin: 0 18px 0 0;
			float: left;
			font-weight: bold;
			vertical-align: middle;
			}

		.pp-password .img-btn {
			float: left;
			}

	/*-------------------- примечание --------------------*/

	#container p.pp-note {
		margin: 0;
		padding: 5px 0 0 0;
		font-size: 9px;
		line-height: 14px;
		}

		.pp-note span {
			margin: 0 15px 0 0;
			font-size: 20px;
			color: #fe201c;
			position: relative;
			top: 7px;
			}

	/*-------------------- финансы --------------------*/

	.pp-finances {
		height: 1%;
		padding: 34px 0 0 0;
		}

		.pp-finances .pp-label {
			margin-right: 0;
			float: left;
			}

		.pp-finances .img-btn {
			margin-left: 24px;
			}

		.pp-finances .img-btn-buy {
			margin-left: 0;
			margin-right: 0;
			float: right;
			}

/*-------------------- формы во всплывающих окошках --------------------*/

.pp-form {
	line-height: 32px;
	}

.pp-form-change-email {
	padding: 0 80px;
	}

	/*-------------------- заголовок в форме --------------------*/

	.pp-form h2 {
		height: 26px;
		margin: 0 auto 2px auto;
		background-position: 0 0;
		background-repeat: no-repeat;
		text-indent: -99999px;
		position: relative;
		top: -5px;
		}

	.pp-form-change-email h2 {
		width: 300px;
		margin-bottom: 16px;
		background-image: url("/content/images/content/header-email-change.png");
		}

	/*-------------------- название поля --------------------*/

	.form-field {
		display: inline-block;
		float: left;
		font-size: 16px;
		vertical-align: middle;
		}

	/*-------------------- поле ввода со скругленными уголками --------------------*/

	.custom-input {
		display: inline-block;
		height: 22px;
		background: url("/content/images/content/custom-input.gif") 0 -22px repeat-x;
		cursor: default;
		vertical-align: middle;
		}

	.pp-form .custom-input {
		position: relative;
		top: 6px;
		}

		.custom-input span {
			display: inline-block;
			height: 22px;
			background: url("/content/images/content/custom-input.gif") 0 0 no-repeat;
			vertical-align: top;
			}

			.custom-input span span {
				padding: 0 6px;
				background-position: right -44px;
				}

				.custom-input input {
					background: none;
					border-width: 0;
					vertical-align: top;
					font: 14px Verdana;
					position: relative;
					top: 2px;
					}

				.pp-form .custom-input input {
					width: 162px;
					}

	.pp-form .custom-input {
		float: right;
		}

	.pp-form .form-submit {
		display: block;
		margin: 23px auto 0 auto;
		}

	.form-news {
		display: none;
		padding: 14px 0 0 0;
		font-size: 14px;
		line-height: 14px;
		text-align: center;
		}

	.visible {
		display: block;
		}

	.good-news {
		color: #349c2f;
		}

	.bad-news {
		color: #ed1414;
		}

/*-------------------- форма подтверждения почты --------------------*/

	#TB_ajaxcontent .pp-form-email-proof p {
		padding: 0;
		font-size: 14px;
		line-height: 28px;
		text-align: center;
		}

	#TB_ajaxcontent .pp-form p.note {
		padding: 6px 0 0 0;;
		font-size: 10px;
		line-height: 14px;
		text-align: center;
		}

		#TB_ajaxcontent .pp-form p.note span {
			margin-right: 5px;
			font-weight: bold;
			font-size: 18px;
			color: #ff0000;
			position: relative;
			top: 6px;
			}

	.pp-form-email-proof h2 {
		width: 391px;
		background-image: url("/content/images/content/header-email-proof.png");
		}

	.pp-form-email-proof .img-btn {
		display: block;
		margin: 25px auto 0 auto;
		}

/*-------------------- форма смены пароля --------------------*/

	.pp-form-change-password h2 {
		width: 207px;
		background-image: url("/content/images/content/header-password-change.png");
		}

	.change-password-fields {
		padding: 0 60px;
		}

	.pp-form-change-password .form-submit {
		margin-top: 10px;
		}


/*-------------------- форма напоминания пароля --------------------*/

	#TB_ajaxcontent .pp-form-retrieve-password p {
		padding: 0;
		font-size: 14px;
		line-height: 28px;
		text-align: center;
		}

	.pp-form-retrieve-password h2 {
		width: 233px;
		background-image: url("/content/images/content/header-password-retrieve.png");
		}

	.pp-form-retrieve-password .img-btn {
		display: block;
		margin: 25px auto 0 auto;
		}


/*-------------------- окошко с историей платежей --------------------*/

	.pp-form-history h2 {
		width: 233px;
		background-image: url("/content/images/content/header-history.png");
		}

	.pp-form-history .history-table {
		width: 470px;
		height: 110px;
		overflow-y: auto;
		overflow-x: hidden;
		}

		.pp-form-history table {
			font-size: 14px;
			line-height: 16px;
			position: relative;
			left: 20px;
			}

			.pp-form-history table th,
			.pp-form-history table td {
				padding: 0 0 0 20px;
				text-align: left;
				}

			.pp-form-history table th {
				padding-bottom: 10px;
				}

			.pp-form-history table .history-server {
				width: 180px;
				}

			.pp-form-history table .history-sum {
				width: 90px;
				}

			.pp-form-history table .history-date {
				width: 90px;
				}

	.pp-form-history .img-btn {
		display: block;
		margin: 20px auto 0 auto;
		}


/****************************** новостной блок ******************************/

.basicnews {
	}

	.basicnews ul {
		margin: 15px 0 !important;
		list-style: inside none none;
		font-size: 14px;
		line-height: 22px;
		}

		.basicnews ul li {
			height: 1%;
			overflow: hidden;
			border-bottom: 1px dotted #000;
			}

			.basicnews ul li a {
				border-width: 0 !important;
				float: left;
				font-family: Trebuchet MS;
				color: #000;
				text-decoration: none;
				}

			.basicnews ul li a:hover {
				text-decoration: underline !important;
				}

			.basicnews ul li span {
				float: right;
				font-size: 13px;
				}

/****************************** // новостной блок ******************************/


/****************************** восстановление пароля ******************************/

.pass-ret {
	min-height: 1px !important;
	text-align: center !important;
	}	

	.pass-ret h2 {
		display: block;
		width: 275px;
		height: 27px;
		background: url("/content/images/content/pass-ret-h.png") 0 0 no-repeat;
		text-indent: -99999px;
		margin: 0 auto 37px auto;
		position: relative;
		top: 8px;
		}

	.retr-form {
		padding: 0 40px 11px 40px;
		}
		
		.retr-form p {
			padding: 0 0 4px 0;
			font-weight: bold;
			font-family: Verdana !important;
			text-align: center !important;
			}

		.custom-input {
			float: left;
			}

			.custom-input input {
				width: 247px;
				text-align: left !important;
				}
		
		.retr-form .img-btn {
			float: right;
			top: -4px;
			}

/****************************** // восстановление пароля ******************************/

/****************************** убираем подчеркивание у картинок ******************************/

a img {
	margin-right: 10px;
	border-width: 0;
	}

.no-border {
	border-width: 0 !important;
	}

/****************************** // убираем подчеркивание у картинок ******************************/


/****************************** хлебные крошки ******************************/

.breadcrumbs {
	height: 26px;
	overflow: hidden;
	color: #f2bc32;
	}

	.breadcrumbs span {
		display: inline-block;
		height: 26px;
		overflow: hidden;
		background-position: 0 0;
		background-repeat: no-repeat;
		float: left;
		line-height: 26px;
		}

	.bc-left {
		width: 7px;
		background-image: url("/content/images/content/breadcrumbs-left.png");
		}

	.bc-first {
		padding: 0 6px;
		float: left;
		background-image: url("/content/images/content/breadcrumbs-1.png");
		background-repeat: repeat-x;
		border-width: 0 !important;
		line-height: 26px !important;
		color: #f2bc32 !important;
		cursor: pointer;
		}

	.bc-center {
		width: 26px;
		background-image: url("/content/images/content/breadcrumbs-center.png");
		}

	.bc-second {
		padding: 0 6px;
		float: left;
		background-image: url("/content/images/content/breadcrumbs-2.png");
		background-repeat: repeat-x !important;
		}

	.bc-right {
		width: 4px;
		background-image: url("/content/images/content/breadcrumbs-right.png");
		}

/****************************** // хлебные крошки ******************************/

/****************************** дополнения к личному кабинету ******************************/

		/*-------------------- форма внесения денег на счет --------------------*/
			
		.money-form {
			padding: 10px 0 0 0;
			}

			.money-field {
				position: relative;
				top: 3px;
				}

				.money-field input {
					width: 150px;
					}

			.img-btn-fillup {
				margin-right: 0;
				background-image: url("/content/images/content/btn-fillup.gif");
				float: right;
				}
				
/****************************** // дополнения к личному кабинету ******************************/

.text_div {
	text-align: justify;
	}
	
/****************************** дополнения к ротатору ******************************/

#rotator .paging {
	display: none;
	}

#rotator .slider .slide {
	margin-left: 2px;
	}

/****************************** // дополнения к ротатору ******************************/

/****************************** рейтинг ******************************/

#sidebar-right .rating {
	height: 371px;
	position: relative;
	}
#sidebar-left .rating {
	height: 371px;
	position: relative;
	}
	.rating h2 {
		padding-top: 50px;
		}

	.rating-list {
		height: 255px;
		overflow: hidden;
		margin: 5px 12px 0 12px;
		}

		.rating-list div {
			width: 100%;
			height: 247px;
			overflow: hidden;
			}

			.rating-list ul {
				list-style-type: none;
				}

				.rating-list ul li {
					padding: 0 0 3px 0;
					font: 12px Verdana;
					color: #333;
					}

					.rating-list ul img {
						margin: 0 10px 0 0;
						vertical-align: -5px;
						}
	.rating-buttons {
		list-style-type: none;		
		padding: 5px 0 0 0;
		background: url("/content/images/index/rating-bottom.png") 0 0 no-repeat;
		position: absolute;
		left: 5px;
		top: 339px;
		}

		.rating-buttons li {
			height: 22px;
			float: left;
			background-position: 0 0;
			background-repeat: no-repeat;
			text-indent: -99999px;
			cursor: pointer;
			}

		.rating-buttons li.rb-players {
			width: 96px;
			background-image: url("/content/images/index/rating-btn-players.png");
			}

		.rating-buttons li.rb-clans {
			width: 98px;
			background-image: url("/content/images/index/rating-btn-clans.png");
			}

		.rating-buttons li.selected {
			background-position: 0 -22px;
			cursor: default;
			}

/****************************** // рейтинг ******************************/

/****************************** кнопка входа ******************************/

#remembermelabel {
    margin-bottom: -3px;
	}

#loginform .submit {
	width: 125px;
	height: 48px;
	overflow: hidden;
	margin: 0 auto; 
	}

#loginform .submit:hover {
	background-position: 0 -48px;
	}

#loginform .registration {
    margin-top: -3px;
	}

/****************************** // кнопка входа ******************************/

/****************************** просмотр всех скриншотов на главной ******************************/

#screens_content {
	height: 98px;
	overflow: hidden;
	}

/****************************** // просмотр всех скриншотов на главной ******************************/

/****************************** новый основной блок ******************************/

.content-block2 h2 {
	padding: 25px 0 0 51px;
	font: bold 19px Times New Roman;
	line-height: 19px;
	}

#screens h2 {
	padding-top: 13px;
	padding-bottom: 14px;
	}
	
	.content-block2 h2 a {
		color: #fff;
		text-decoration: none;
		}

.content-block2 ul {
	height: auto;
    padding-top: 11px;
    padding-bottom: 0;
    padding-right: 26px;
	}

.content-block2 ul li a,
.content-block2 ul li span {
	font: 13px Arial;
	line-height: 28px;
	color: #333;
	letter-spacing: 2px;
	text-decoration: none;
	top: 0;
	}

.content-block2 ul li a:hover {
	text-decoration: underline;
	}

/****************************** // новый основной блок ******************************/

/****************************** поле загрузки файла ******************************/

#container ul.ButtonNav {
	margin-left: 10px;
}

.files {
	padding: 10px 0;
	}

	/*-------------------- поле загрузки файла  --------------------*/

		/* FireFox-hack */
		@-moz-document url-prefix() {
			.input-file {
				width: 217px;
			}
}
	.file {
		width: 346px;
		height: 22px;
		margin: 0 0 10px 0;
		float: left;
		position: relative;
		}

		.input-file {
			width: 346px;
			height: 22px;
			position: absolute;
			right: 0;
			top: 0;
			filter: alpha(opacity=0);
			-moz-opacity: 0.0;
			-khtml-opacity: 0.0;
			opacity: 0.0;
			z-index: 2;
			}


		.file .custom-input {
			margin-top: 0;
			position: absolute;
			left: 0;
			top: 0;
			z-index: 3;
			filter: alpha(opacity=100) !important;
			-moz-opacity: 1.0 !important;
			-khtml-opacity: 1.0 !important;
			opacity: 1.0 !important;
			}

			.file .custom-input input {
				width: 259px;
				float: left;
				}

		.select-file {
			width: 68px;
			height: 22px;
			background: url("/content/images/index/browse.png") 0 0 no-repeat;
			font-size: 12px;
			color: #fff;
			line-height: 36px;
			text-align: center;
			position: absolute;
			right: 0;
			top: 0;
			z-index: 1;
			filter: alpha(opacity=100) !important;
			-moz-opacity: 1.0 !important;
			-khtml-opacity: 1.0 !important;
			opacity: 1.0 !important;
			}

	.send-submit {
		width: 140px;
		height: 28px;
		background: url("/content/images/index/send.png") 0 0 no-repeat;
		border-width: 0;
		cursor: pointer;
		}
		
/****************************** // поле загрузки файла ******************************/

/****************************** правки по биллингу ******************************/

	#payment-system .item .name {
		font: 10px Verdana;
		color: #000;
		}

#payment-system .hide {
	padding: 0 0 0 12px;
	}

	#payment-system .hide .item {
		margin: 0 0 0 5px;
		}

.server-select {
    width: 152px;
    float: left;
	}

#payment-system #servers {
    display: block;
    margin: 0 auto;
    width: 295px;
    height: 20px;
    text-align: center;
	}
/*
.sms-pay-info {
	display: none;
	}

.visible {
	display: block !important;
	}
*/
#payment-system .area .hide {
	float: none;
	}

.pay-status-container {
	min-height: 175px !important;
	}
	
	.confirm-container h2,
	.badpay-container h2 {
		display: block;
		width: 212px;
		height: 22px;
		background: url("/content/images/content/header-confirm.png") 0 0 no-repeat;
		text-indent: -99999px;
		margin: 0 auto 26px auto;
		position: relative;
		top: 9px;
		}
		
.p-item label {
	cursor: pointer;
	}

.p-item .name {
    color: #333;
	}

#p-submit,
#p-submit2 {
	cursor: pointer;
	}

#p-s, #p-p, #p-s2, #p-p2 {
	padding-left: 3px;
	padding-right: 3px;
    width: 142px;
	}

.p-item input {
    border: 2px solid #000;
	background: #fff;
	}

.p-item .jRadioWrapper {
	margin: 10px 10px 0 118px;
	}		
	
/****************************** // правки по биллингу ******************************/

/****************************** окошко авторизации при необходимости ******************************/

.lw-form {
	}

	.lw-form h2 {
		padding: 0 0 21px 0;
		font: 14px Times New Roman;
		line-height: 21px;
		text-align: center;
		}

	.lw-form label {
		margin-left: 90px;
		margin-bottom: 1px;
		font-weight: normal;
		}

	.lw-input {
		border: 2px solid #000000;
	    float: left;
	    height: 15px;
	    width: 148px;
		}

	.lw-submit {
		padding: 19px 0 15px 0;
		text-align: center;
		}

/****************************** // окошко авторизации при необходимости ******************************/
		
/****************************** стилизованные чекбоксы ******************************/

#loginform .jNiceCheckbox {
	margin: 8px 5px 10px 0px;
	width: 13px;
	height: 13px;
	
	}		

#registerForm .jNiceCheckbox {
	float: left;
	position: relative;
	left: 40px;
	top: 3px;
	}		

/****************************** // стилизованные чекбоксы ******************************/
	
/****************************** подсказки в парольных полях ******************************/

.reg-fields {
	position: relative;
	}

#pwdTitle {
	position: absolute;
	left: 213px;
	top: 45px;
	z-index: 2;
	}

#pwdTitle2 {
	position: absolute;
	left: 213px;
	top: 78px;
	z-index: 2;
	}

/****************************** // подсказки в парольных полях ******************************/

.last-news {
	height: 140px !important;
}

.TextTitleStyle
{
    font-size:14px;   
    line-height: 18px;
    text-align:center;
}

.TextStyle
{
    font-size:14px;   
    line-height: 18px;
}

.Ok_Button {
	font: 18px Times New Roman;
	color: #011dfe !important;
	text-decoration: none;
	}
 .table-tickets{
    padding-left: 10px; 
    border-width: 1px; 
    border-color: #000000; 
    margin-left: 11px; 
    text-align: left; 
    border-collapse: collapse; 
    width: 665px;
    }
.table-tickets th, td{
    padding: 2px 0px 2px 5px;
    }
    
.likes th, td{
    padding: 0px;
    }
    
.table-tickets a{cursor: pointer;}        
