/* CHECKBOXES */

.jNiceHidden {
	display: none;
	opacity: 0;
	z-index: -1;
	position: relative;
}

.jNiceCheckbox {
	display: block;
	width: 13px;
	height: 13px;
	float: left;
	position: relative;
	background: url("/content/user/jnice/img/checkbox.gif") no-repeat;
	cursor: pointer;
	font-size: 1px;
}

.jNiceOffPushed {
	background-position: center -13px;
}

.jNiceChecked {
	background-position: center -26px;
}

.jNiceOnPushed {
	background-position: center -39px;
}

.jNiceWrapper {
	position: relative;
	vertical-align: top;
}

/* RADIOBUTTONS */

.jRadioWrapper {
	display: block;
	float: left;
	position: relative;
	font-size: 1px;
	vertical-align: top;
}

.jNiceRadio {
	display: block;
	width: 14px;
	height: 14px;
	background: url("/content/user/jnice/img/radio.png") center top no-repeat;
	cursor: pointer;
	font-size: 1px;
}

.jNiceRadioOffPushed {
	background-position: center -14px;
}

.jRadioWrapper .jNiceChecked {
	background-position: center -28px;
}

.jNiceRadioOnPushed {
	background-position: center -42px;
}